@font-face {
	font-family: 'Poppins'; /* This is the name you'll use in Tailwind's config */
	font-style: normal;
	font-weight: 400; /* Corresponds to 'Regular' */
	font-display: swap; /* Tells the browser to show a fallback font while this loads */
	src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2'); /* Path to the font file */
}

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/assets/fonts/Poppins-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700; /* Corresponds to 'Bold' */
	font-display: swap;
	src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2');
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #333;
	margin: 0;
	padding: 0;
}
.text-red {
	color: #d2102f;
}
.text-blue {
	color: #0e71b8;
}
.text-light-blue {
	color: #2ea3f2;
}
.bg-gradient {
	background: linear-gradient(90deg, #d41030, #2ea3f2);
}
.font-bold {
	font-weight: 700;
}
.text-3xl {
	font-size: 1.875rem; /* 30px */
}
/* section:not(.container--full) {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.5rem 0;
} */
.container--full {
	width: 100%;
	padding: 0;
}
.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.items-center {
	align-items: center;
}
.banner__background {
	background-image: url('/assets/images/banner.webp');
}
.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 2rem;
}
.banner__content {
	text-align: center;
	color: white;
	font-size: 2rem;
	font-weight: 900;
	word-break: break-all;
}
.banner__content h1 {
	margin: 0;
}
.date-message {
	padding: 1.5rem;
	text-align: center;
}
.date-message p {
	font-size: 140%;
	margin: 0;
	padding: 0;
}
.video__container video {
	border-radius: 10px;
	margin-block: 1rem;
	margin-inline: auto;
	max-width: 100%;
}

@media (min-width: 48rem) {
	.date-message {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media (min-width: 64rem) {
	video {
		width: 800px;
	}
}
