@font-face {
	font-family: 'Poppins'; /* This is the name you'll use in Tailwind's config */
	font-style: light;
	font-weight: 300; /* Corresponds to 'Light' */
	font-display: swap; /* Tells the browser to show a fallback font while this loads */
	src: url('/assets/fonts/Poppins-Light.woff2') format('woff2'); /* Path to the font file */
}
@font-face {
	font-family: 'Poppins'; /* This is the name you'll use in Tailwind's config */
	font-style: normal;
	font-weight: 400; /* Corresponds to 'Regular' */
	font-display: swap; /* Tells the browser to show a fallback font while this loads */
	src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2'); /* Path to the font file */
}

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/assets/fonts/Poppins-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: medium;
	font-weight: 500;
	font-display: swap;
	src: url('/assets/fonts/Poppins-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2');
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	padding-block-end: 2rem;
}
.text-red {
	color: #d2102f;
}
.text-blue {
	color: #0e71b8;
}
.text-light-blue {
	color: #2ea3f2;
}
.bg-gradient {
	background: linear-gradient(90deg, #d41030, #2ea3f2);
}
.font-bold {
	font-weight: 700;
}
.text-3xl {
	font-size: 1.875rem; /* 30px */
}
.container--full {
	width: 100%;
	padding: 0;
}
.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.items-center {
	align-items: center;
}
.flex-col {
	flex-direction: column;
}
.banner__background {
	background-image: url('/assets/images/banner.webp');
	background-position-x: -6rem;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner {
	border-bottom: 2px solid #272e6d;
	display: flex;
	align-items: start;
	justify-content: center;
	padding-block: 2rem;
	min-height: 16rem;
}
.banner__content {
	text-align: center;
	color: white;
	font-size: 2rem;
	font-weight: 900;
	word-break: break-all;
}
.banner__content h1 {
	font-size: 2rem;
	margin: 0;
	line-height: 1.2;
}
.banner__content h1 span {
	display: block;
}
.banner__content h2 {
	font-size: 1.8rem;
	font-weight: 400;
	margin-top: 0.5rem;
	padding-inline: 1rem;
	line-height: 1.2;
}
.banner__content h2 span:nth-child(3) {
	display: block;
}
.date-message {
	padding: 1.5rem;
	text-align: center;
}
.date-message p {
	font-size: 140%;
	margin: 0;
	padding: 0;
}
.video-section {
	background: linear-gradient(180deg, #b6ffee, #ebfffb, #ffffff);
	position: relative;
	padding-inline: 1rem;
}
.video__container {
	background: #fff;
	border: 2px solid #272e6d;
	border-radius: 10px;
	margin-inline: auto;
	position: relative;
	top: -3rem;
	padding: 0.25rem;
	display: flex;
	width: fit-content;
	max-width: 1200px;
}
.video__container video {
	border-radius: 10px;
	margin-inline: auto;
	max-width: 100%;
}
.video-section--2 {
	background-color: #d2102f;
	padding-block: 3rem;
}
#videoSection2 {
	height: 0;
	opacity: 0;
}
#videoSection2.hide {
	display: none;
}
#videoSection2.reveal {
	height: auto;
	opacity: 1;
	transition: all 1s ease-in-out;
}
.video-section--2 .inner {
	display: flex;
	flex-direction: column-reverse;
	justify-content: start;
	align-items: center;
	gap: 3rem;
	max-width: 1200px;
	margin-inline: auto;
	padding-inline: 1rem;
}
.video-section--2 .text-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	color: #fff;
	max-width: 90%;
}
.video-section--2 .text-container h2 {
	font-size: 3rem;
	margin: 0;
}
.video-section--2 .text-container p {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
.video-section--2 .video__container {
	border: 4px solid #fff;
	border-radius: 5px;
	padding: 0;
	top: 0;
}
.video-section--2 .video__container video {
	border-radius: 5px;
	margin: 0;
}
.cta__container {
	position: relative;
	top: -2rem;
}
.cta__container h2 {
	font-size: 1.25rem;
	text-align: center;
	margin: 0;
	margin-block-start: 0.5rem;
	padding: 0;
}
.cta__container a {
	display: block;
	margin-block-start: 0.25rem;
}
.btn__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.btn__container .btn {
	background-color: #d2102f;
	border: 2px solid #fff;
	border-radius: 2rem;
	box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.25);
	padding-block: 1rem;
	padding-inline: 2rem;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 800;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease;
	cursor: pointer;
	position: relative;
	width: 100%;
	max-width: 100%;
}
.btn__container .btn::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.25);
	transition: all 0.2s ease;
	opacity: 0;
	border-radius: 2rem;
}
.btn__container .btn:hover::after {
	opacity: 1;
	transition: all 0.2s ease;
}
.btn__container .btn--secondary {
	background-color: #fff;
	border-color: #272e6d;
	color: #272e6d;
}
.video-section--2 .btn__container {
	margin-inline: auto;
	margin-top: 2rem;
}
.video-section--2 .btn--primary {
	background-color: #fff;
	color: #d2102f;
}

@media (min-width: 40rem) {
	.banner__content h1 span {
		display: inline;
	}
	.banner__content h1 span:last-child {
		display: block;
	}
	.banner__content h2 {
		line-height: normal;
	}
	.video__container {
		border-radius: 10px;
		padding-inline: 1rem;
		padding-block: 1rem;
	}
	.video-section--2 .inner {
		padding-inline: 2rem;
	}
	.video-section--2 .text-container {
		max-width: 50%;
	}
	.video-section--2 .btn__container {
		margin-inline: 0;
	}
}

@media (max-width: 320px) {
	.banner {
		min-height: 10rem;
	}
	.banner__content h1 {
		font-size: 2.5rem;
	}
	.banner__content h2 {
		font-size: 1.5rem;
	}
	.video__container {
		top: -2.5rem;
	}
	.cta__container {
		top: -1rem;
	}
	.video-section--2 .inner {
		max-width: 100%;
		padding-inline: 1rem;
	}
}

@media (max-width: 568px) and (orientation: landscape) {
	.banner {
		min-height: 10rem;
	}
	.banner__content {
		width: 100%;
		max-width: 100%;
	}
	.banner__content :is(h1, h2) {
		display: inline;
	}
	.banner__content h1 {
		font-size: 2.5rem;
		line-height: 1.2;
	}
	.banner__content h1 span {
		display: inline;
	}
	.banner__content h1 span:last-child {
		display: block;
	}
	.btn__container {
		flex-direction: row;
		width: 100%;
	}
}

@media (min-width: 48rem) {
	.banner {
		min-height: 12rem;
	}
	.banner__content h1 {
		font-size: 4rem;
		line-height: 1.2;
	}
	.banner__content h1 span:last-child {
		display: block;
	}
	.banner__content h2 {
		font-size: 2.6rem;
	}
	.banner__content h2 span:nth-child(3) {
		display: inline;
	}
	.video__container {
		border-radius: 10px;
		padding-inline: 1rem;
		padding-block: 0rem;
	}
	.video__container video {
		margin-block: 1rem;
	}
	.btn__container {
		flex-direction: row;
		gap: 0;
	}
	.btn__container .btn {
		min-width: 16rem;
	}
	.btn__container .btn--secondary {
		display: none;
	}
	.video-section--2 .inner {
		flex-direction: row;
	}
}

@media (min-width: 64rem) {
	.banner {
		min-height: 16rem;
	}
	.banner__content h1 {
		font-size: 5rem;
		line-height: normal;
		padding-inline: 2rem;
	}
	.banner__content h1 span:last-child {
		display: inline;
	}
	.video__container {
		border-radius: 20px;
		padding-inline: 2rem;
		padding-block: 1rem;
		top: -3.6rem;
	}
	video {
		width: 800px;
	}
}
@media (max-width: 810px) {
	.banner__content h2 span:nth-child(3) {
		display: block;
	}
}
@media (max-width: 1200px) and (orientation: landscape) {
	.banner__content h1 span:last-child {
		display: block;
	}
}
